/node_modules
/storage/*.key
/storage/clockwork/
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
# composer.lock
# package-lock.json

# VU SA specific
public/uploads
public/docs

## Other
.jshintrc
public/vendor

.DS_Store
.vscode/settings.json
webpack.mix.js

public/js/app/*.js
public/js/*.js
database/vusa_www-2022.sql
.DS_Store

public/vendor/telescope/app.js
public/vendor/telescope/mix-manifest.json

# vite builds
/public/build
public/hot
lang/php_en.json
lang/php_lt.json

.phpunit.cache
coverage/*

# vitepress
docs/.vitepress/dist
docs/.vitepress/cache
