@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {

  *,
  ::before,
  ::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: theme('borderColor.DEFAULT');
  }

  ::before,
  ::after {
    --tw-content: '';
  }

  body {
    margin: 0;
    line-height: inherit;
  }

  hr {
    height: 0; /* 1 */
    color: inherit; /* 2 */
    border-top-width: 1px; /* 3 */
  }

  blockquote,
  dl,
  dd,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  hr,
  figure,
  p,
  pre {
    @apply m-0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: inherit;
    font-weight: inherit;
  }


  b,
  strong {
    font-weight: bolder;
  }

  /* ol,
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  } */

  img,
  svg,
  video,
  canvas,
  audio,
  iframe,
  embed,
  object {
    display: block;
    vertical-align: middle;
  }

  img,
  video {
    max-width: 100%;
    height: auto;
  }

  button,[type=button],[type=reset],[type=submit] {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none
  }

  a {
    @apply no-underline text-inherit;
  }

  /* These two 'body' element selectors are used, because Naive UI disabled forms
  ** have double, overlaping, placeholders.
  ? May be worth to report it.
  */
  /* body span, body input {
    letter-spacing: -0.015em;
  } */
  h1 {
    @apply text-2xl md:text-3xl font-black mb-2 text-gray-900 dark:text-zinc-100;
  }

  h2 {
    @apply text-xl md:text-2xl font-bold mb-2 text-gray-900 dark:text-zinc-100;
  }

  h3 {
    @apply text-lg md:text-xl font-bold mb-2 text-gray-900 dark:text-zinc-100;
  }

  h4 {
    @apply text-base md:text-lg font-bold mb-2 text-gray-900 dark:text-zinc-100;
  }

  /* ul {
	  @apply list-disc list-inside;
  } */

  /* ol {
	  @apply list-decimal list-inside;
  } */

  a {
    @apply hover:text-vusa-red duration-200;
  }
}

@layer components {
	.subtle-gray-gradient {
    @apply from-zinc-50 to-white dark:from-zinc-900/80 dark:to-zinc-800/80 bg-gradient-to-t dark:bg-gradient-to-b
  }
}
