@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../js';

@custom-variant dark (&:is(.dark *));

@theme {
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-collapsible-down: collapsible-down 0.2s ease-in-out;
  --animate-collapsible-up: collapsible-up 0.2s ease-in-out;

  --color-vusa-red: #bd2835;
  --color-vusa-red-secondary: #8c1d27;
  --color-vusa-red-tertiary: #bb2734;
  --color-vusa-red-quaternary: #d74350;
  --color-vusa-red-dark: #5d131a;
  --color-vusa-yellow: #fbb01b;
  --color-vusa-yellow-secondary: #de9503;
  --color-vusa-yellow-tertiary: #fbb120;
  --color-vusa-yellow-quaternary: #fcc557;
  --color-vusa-yellow-dark: #a77002;

  --grid-template-columns-ram-fill: repeat(auto-fill, minmax(320px, 1fr));
  --grid-template-columns-ram-fit: repeat(auto-fit, minmax(320px, 1fr));

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
  @keyframes collapsible-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-collapsible-content-height);
    }
  }
  @keyframes collapsible-up {
    from {
      height: var(--radix-collapsible-content-height);
    }
    to {
      height: 0;
    }
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer base {

  h1 {
    @apply text-2xl md:text-4xl font-black mt-4 mb-6 text-gray-900 dark:text-zinc-100;
  }

  h2 {
    @apply text-xl md:text-2xl font-bold mb-2 text-gray-900 dark:text-zinc-100;
  }

  h3 {
    @apply text-lg md:text-xl font-bold mb-2 text-gray-900 dark:text-zinc-100;
  }

  h4 {
    @apply text-base md:text-lg font-bold mb-2 text-gray-900 dark:text-zinc-100;
  }

  a:not(.plain) {
    @apply hover:text-vusa-red duration-200;
  }

  p>a {
    @apply underline;
  }
}

html.dark {
  color-scheme: dark;
}

.typography {

  h1 {
    @apply scroll-mt-32 text-4xl font-bold tracking-tight lg:text-5xl
  }

  h2 {
    @apply scroll-mt-32 border-b border-zinc-200 dark:border-zinc-600 pb-2 text-3xl font-semibold transition-colors first:mt-2
  }

  h3 {
    @apply scroll-mt-32 text-2xl font-semibold tracking-tight
  }

  table p {
    @apply my-0
  }

  blockquote {
    @apply mt-6 border-l-2 pl-6 italic
  }

  p {
    @apply not-first:mt-6 mt-4 mb-5
  }

  ul, ol {
    @apply my-6 ml-6 list-disc [&>li]:mt-2
  }

  a {
    @apply underline
  }
}

.wrapper {
  display: grid;
  grid-template-columns:
    1fr min(85vw, 100%) 1fr;
  @apply max-md:mt-12 mt-24
}

.wrapper>* {
  grid-column: 2;
}

.full-bleed {
  width: 100%;
  grid-column: 1 / 4;
}

/*This aligns form items to start, when MultiLocaleInput is present in the form.*/
.n-form-item {
  align-items: start;
}

.archive-document-link {
  /* Add pseudo class with icon */
  background-color: rgb(244 244 245);
  padding: 0.1rem 0.3rem;
  color: unset;
  text-decoration: none;
  transition-duration: 0.2s;
  border-radius: 0.3rem;
  font-size: 0.8rem;
}

.dark .archive-document-link {
  background-color: rgb(30 30 30);
}

.archive-document-link::before {
  margin-right: 0.3rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M6 2a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9.828a2 2 0 0 0-.586-1.414l-5.828-5.828A2 2 0 0 0 12.172 2zm-.5 2a.5.5 0 0 1 .5-.5h6V8a2 2 0 0 0 2 2h4.5v10a.5.5 0 0 1-.5.5H6a.5.5 0 0 1-.5-.5zm11.88 4.5H14a.5.5 0 0 1-.5-.5V4.62z'/%3E%3C/svg%3E");
  background-size: 10px 10px;
  display: inline-block;
  width: 10px;
  height: 10px;
  content: "";
}

.dark .archive-document-link::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='M6 2a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9.828a2 2 0 0 0-.586-1.414l-5.828-5.828A2 2 0 0 0 12.172 2zm-.5 2a.5.5 0 0 1 .5-.5h6V8a2 2 0 0 0 2 2h4.5v10a.5.5 0 0 1-.5.5H6a.5.5 0 0 1-.5-.5zm11.88 4.5H14a.5.5 0 0 1-.5-.5V4.62z'/%3E%3C/svg%3E");
}

.archive-document-link:hover {
  background-color: rgb(230 230 231);
  color: #bd2835;
  text-decoration: underline;
}

.dark .archive-document-link:hover {
  background-color: rgb(40 40 40);
  color: #bd2835;
}
